@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
--primary_text: #0F172A;
--secondary_text: #475569;
--border: #E2E8F0;
--white: #fff;
}

body {
    background-color: #F8FAFC;
    font-family: "Inter", sans-serif;
    color: var(--secondary_text);
}

.commonSpace {
    padding: 40px 0;
}

.navLink_parent {
    justify-content: end;
}

.navLink {
    gap: 25px;
}

.navBg {
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
}

.navBg .container {
    justify-content: center;
}

.calcSecParent {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.calcbadge {
    width: fit-content;
    text-align: center;
    margin: auto;
    border: 1.5px solid #99F6E4;
    padding: 4px 15px;
    border-radius: 5px;
    color: #115E59;
    font-weight: 600;
    background: #F0FDFA;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
}

.calcbadge span {
    background: #10B981;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
}

.grey {
    border-color: #e2e8f0;
    background: #f1f5f9;
    color: #334155;
}

.grey span {
    background: #94a3b8;
}


.blue {
    border-color: #bae6fd;
    background: #f0f9ff;
    color: #075985;
}

.blue span {
    background: #0ea5e9;
}

.orange {
    border-color: #fde68a;
    background: #fffbeb;
    color: #92400e;
}

.orange span {
    background: #f59e0b;
}

.red {
    border-color: #fecdd3;
    background: #fff1f2;
    color: #9f1239;
}

.red span {
    background: #f43f5e;
}



.calcHead {
    color: var(--primary_text);
    margin: 12px 0;
    font-weight: 700;
}

p.calcSubHead {
    width: clamp(280px, 70%, 720px);
    margin: auto;
}

.calculation_sec_parent {
    background: var(--white);
    border: 1px solid var(--border);
    padding: 25px;
    border-radius: 10px;
    margin-top: 30px;
}

.calcTab {
    justify-content: center;
    background: #F1F5F9;
    width: fit-content;
    margin: 0 auto;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--border);
}

.active.calcTabLink {
 color: var(--primary_text);
 background-color: var(--white);
 border-radius: 5px;
}


.calcTabLink {
    color: var(--secondary_text);
    display: flex;
    gap: 13px;
    padding: 10px 25px;
    font-weight: 500;
}


.calcTabLink:hover {
    color: var(--primary_text);
}


.form_field {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 49%;
}

.formField_parent {
    display: flex;
    gap: 2%;
    width: 100%;
}


.form_field label {
    font-weight: 500;
    font-size: 14px;
    color: var(--primary_text);
}

.lable_parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.unitText {
    font-size: 13px;
}

.formParent {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.input-group-text {
    background: none;
    border: 0px;
    font-size: 14px;
    color: var(--primary_text);
    font-weight: 600;
    position: absolute;
    right: 0;
}

.input-group {
    align-items: center;
}
.form-control {
    border-radius: 5px !important;
}

.btn {
    border-radius: 5px;
    font-weight: 500;
}

.submit, .submit:active {
    background-color: #0D9488 !important;
    color: var(--white) !important;
    width: 100%;
}

.submit:hover {
    color: white;
    background-color: #13ad9f;
    border-color: var(--bs-btn-hover-border-color);
}

.reset {
    border: 1px solid var(--border);
}

.reset:hover {
    background-color: #f6f6f6;
}

.btn_grp {
    display: flex;
    gap: 1.5%;
    justify-content: center;
}

.scoreStat_Parent {
    background: #F8FAFC;
    margin: 30px 0;
    padding: 25px 20px;
    border-radius: 10px;
}

.scoreDisplay_Parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.scoreDisplayRight p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.scoreDisplayRight p:last-child {
    display: flex;
    align-items: end;
    margin: 10px 0;
    line-height: 0.4;
    color: var(--primary_text);
    gap: 3px;
}

.scoreDisplayRight {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: left;
}

.scoreStat_content {
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
}




.bmi-scale {
  position: relative;
  width: 100%;
  padding-top: 32px;
}

/* Progress bar */
.bmi-progress {
  display: flex;
  width: 100%;
  height: 12px;
  overflow: hidden;
  border-radius: 10px;
  background: #eee;
  gap: 4px;
}

.bmi-segment {
  height: 100%;
}
.bmiNumber {
    position: absolute;
}
/* 16 - 18.5 */
.underweight {
  /* flex: 2.5; */
  background: #6dc5eb;
  width: 20%;
}

.bmiNumber1 {
    left: 0%;
}


/* 18.5 - 25 */
.normal {
  /* flex: 6.5; */
  background: #31c98f;
  width: 32%;
}

.bmiNumber2 {
    left: 18%;
}

/* 25 - 30 */
.overweight {
  /* flex: 5; */
  background: #f8b824;
  width: 25%;
}

.bmiNumber3 {
    left: 49%;
}


/* 30 - 40 */
.obese {
  /* flex: 10; */
  background: #f36b7d;
  width: 23%;
}

.bmiNumber4 {
    left: 75%;
}

.bmiNumber5 {
    left: 97%;
}


/* BMI value */
.bmi-marker {
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.bmi-marker span {
  position: relative;
  display: block;
  padding: 1px 8px;
  background: #17243a;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 4px;
}

/* Small downward triangle */
.bmi-marker span::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #17243a;
}

/* Labels */
.bmi-labels {
  /* display: flex;
  justify-content: space-between; */
    margin-top: 2px;
  margin-bottom: 10px;
  color: #3d4b63;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

p.scoreStat_content {
    margin: 0;
    padding-top: 48px;
}

.labels {
    display: flex;
    gap: 4%;
}
.bmiscore {
    font-size: 32px;
    font-weight: 700;
}

input::placeholder {
    font-size: 14px;
}
.bmi-scale {
    position: relative;
}

#bmi_marker {
    position: absolute;
    transform: translateX(-50%);
    width: max-content;
}

footer p {
    margin: 0 auto;
    padding: 15px 0;
    background: white;
    text-align: center;
    border-top: 1px solid var(--border);
    color: var(--secondary_text);
    font-size: 14px;
    font-weight: 500;
}


@media screen and (max-width: 1024px) {
    .calcSecParent {
        width: 85%;
    }
}

@media screen and (max-width: 767px) {
    p.calcSubHead {
        width: 100%;
    }
}