@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
--primary_text: #0F172A;
--secondary_text: #475569;
}

body {
    background-color: #F8FAFC;
    font-family: "Poppins", sans-serif;
    color: var(--secondary_text);
}

.commonSpace {
    padding: 40px 0;
}

.navLink_parent {
    justify-content: end;
}

.navLink {
    gap: 25px;
}

.navBg {
    background-color: #fff;
    border-bottom: 1px solid #E2E8F0;
}

.calcSecParent {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.calcbadge {
    width: fit-content;
    text-align: center;
    margin: auto;
    border: 1.5px solid #99F6E4;
    padding: 4px 15px;
    border-radius: 5px;
    color: #115E59;
    font-weight: 600;
    background: #F0FDFA;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
}

.calcbadge span {
    background: #99F6E4;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
}

.calcHead {
    color: var(--primary_text);
    margin: 12px 0;
}

p.calcSubHead {
    width: 70%;
    margin: auto;
}
